<div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">User's Library</h2> <!-- get user name to input here -->
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src="static/images/BPLBooks.jpg" border="0" alt="">
        </div>

        <div class="mdl-grid portfolio-copy">
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">About</h3>
            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <ul>
                	<li>Full Name</li>
                	<li>Favorite Book</li>
                	<li>Hometown</li>
                	<li>Birthday</li>
                	<li>Book Club (willing to share books)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Books</h3>
    </div>
    <!-- place holders for additional data -->
    <div class="mdl-cell mdl-cell--12-col-tablet">Cell 1</div>
    <div class="mdl-cell mdl-cell--4-col-tablet">Cell 2</div>
    <div class="mdl-cell mdl-cell--4-col-tablet">Cell 3</div>
</div>

<!-- Placeholder for Friend relationships
<!--div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h3>Friends</h3>
    </div>
    <div class="mdl-cell mdl-cell--12-col-tablet">Cell 1</div>
    <div class="mdl-cell mdl-cell--4-col-tablet">Cell 2</div>
    <div class="mdl-cell mdl-cell--4-col-tablet">Cell 3</div>
</div-->