<div ng-controller="BookController" ng-init="init()">
    <div class="mdl-layout__title">
        <h3>Shared Books</h3>
        <br>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-href="http://localhost:3000/newBook">
          Add Book
        </a>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col-tablet" ng-repeat="book in main.allBooks">
            <h4><a href="{{book.shopUrl}}" target="_blank">{{book.title}}</a></h4>
            <a href="{{book.shopUrl}}" target="_blank"><img src="{{book.image != '' ? book.image : service.defaultImage}}" height="50%" width = "50%"></img></a>
            <ul>
                <li>Author: {{book.author}}</li>
                <li>Publication Date: {{book.pubDate | date}}</li>
                <li>Genre: {{book.genre}}</li>
            </ul>
        </div>
    </div>
</div>