<div ng-init="init()" ng-controller="ProfileController">
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{service.currentUser.firstName}}'s Library</h2> <!-- get user name to input here -->
            </div>
            <div class="mdl-card__media">
                <img src="{{service.currentUser.image}}" border="0" alt="">
            </div>

            <div class="mdl-grid portfolio-copy">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-href="http://localhost:3000/editUser?user={{service.currentUser.username}}">
                  Edit User
                </a>
                <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">About</h3>
                <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                    <ul>
                    	<li>{{service.currentUser.firstName}} {{service.currentUser.lastName}}</li>
                    	<li>Favorite Book: {{service.currentUser.favorite}}</li>
                    	<li>Hometown: {{service.currentUser.hometown}}</li>
                    	<li>Birthday: {{service.currentUser.birthday | date:'MMMM d'}}</li>
                    	<li>Book Club: {{service.currentUser.bookClub ? 'Yes' : 'No'}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h3>Books</h3>
        </div>
        <!-- place holders for additional data -->
        <div class="mdl-cell mdl-cell--12-col-tablet" ng-repeat="book in service.bookDetails">
            <h4><a href="{{book.shopUrl}}" target="_blank">{{book.title}}</a></h4>
            <a href="{{book.shopUrl}}" target="_blank"><img src="{{book.image}}" height="50%" width = "50%"></img></a>
            <ul>
                <li>Author: {{book.author}}</li>
                <li>Publication Date: {{book.pubDate | date}}</li>
                <li>Genre: {{book.genre}}</li>
            </ul>
        </div>
    </div>

    <!-- Placeholder for Friend relationships
    <!--div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h3>Friends</h3>
        </div>
        <div class="mdl-cell mdl-cell--12-col-tablet">Cell 1</div>
        <div class="mdl-cell mdl-cell--4-col-tablet">Cell 2</div>
        <div class="mdl-cell mdl-cell--4-col-tablet">Cell 3</div>
    </div-->
</div>