<div ng-controller="ReaderController" ng-init="init()">
    <div class="mdl-layout__title">
        <h3>Fellow Readers</h3>
    </div>
    <div class="mdl-grid">
        
        <!-- place holders for additional data -->
        <div class="mdl-cell mdl-cell--12-col-tablet" ng-repeat="user in main.allUsers" ng-show="{{service.currentUser != user.username}}">
            <h4><a href="#/profile/{{user.username}}">{{user.firstName}} {{user.lastName}}</a></h4>
            <ul>
                <li>Favorite Book: {{user.favorite}}</li>
                <li>Hometown: {{user.hometown}}</li>
                <li>Birthday: {{user.birthday | date:'MMMM d'}}</li>
                <li>Book Club: {{user.bookClub ? 'Yes' : 'No'}}</li>
            </ul>
        </div>
    </div>
</div>